/* #region Back to Home button */
#back-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5d9cec;
    color: #fff;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: background-color 0.3s ease;
  }
  
  #back-button:hover{
    background-color: #4a8adb;
  }

  /* #endregion */

/* #region signup form */
  #form-container {
    position: fixed;
    bottom: 60px;
    right: 20px;
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    width: 90%;
    display: none; /* Hidden by default */
    z-index: 1000;
  }

  form h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
  }

  form label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
  }

  form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
  }

  form input:focus {
    outline: none;
    border: 1px solid #5d9cec;
    box-shadow: 0 0 5px rgba(93, 156, 236, 0.5);
  }

  form button {
    width: 100%;
    padding: 10px;
    background-color: #5d9cec;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  form button:hover {
    background-color: #4a8adb;
  }

  label {
    font-weight: bold;
    font-size: 0.9rem; /* Smaller font for labels */
    margin-bottom: 5px;
    display: block;
  }

  input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 0.9rem; /* Adjust input font size */
  }

  input:focus {
    outline: none;
    border: 1px solid #5d9cec;
    box-shadow: 0 0 5px rgba(93, 156, 236, 0.5);
  }


  button:hover {
    background-color: #4a8adb;
  }

  /* #endregion  */